$background-primary: #b7bee263;

main {
  margin-top: 32px;
  .animes {
    height: 230px;
    p {
      text-align: center;
      margin: 0;
      font-size: 16px;
    }
    .anime-container {
      background-color: $background-primary;
      border: 3px solid #d2317e;
      border-radius: 4px;
      height: 85%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;

      div {
        height: 100%;
        display: flex;
        align-items: flex-end;
        position: relative;
        img {
          height: 100%;
          position: relative;
        }
        span {
          color: #eb378e;
          text-shadow: 2px 2px 0.5px #000;
          position: absolute;
          z-index: 2;
          width: max-content;
          padding: 4px;
          display: none;
          transition-duration: 480ms;
          transition-property: all;
          transition-timing-function: linear;
        }
        &:hover {
          span {
            transition-duration: 480ms;
            transition-property: all;
            transition-timing-function: linear;
            display: block;
          }
        }
      }
    }
  }
}
