$background-primary: #b7bee263;

main {
  margin-top: 32px;
  .types {
    height: 230px;
    background-color: $background-primary;
    padding-bottom: 12px;
    p {
      text-align: center;
      margin: 0;
      font-size: 16px;
      margin-bottom: 8px;
    }
    .type-container {
      border-radius: 4px;
      height: 80%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;

      div {
        height: 100%;
        display: flex;
        align-items: flex-end;
        position: relative;
        img {
          height: 100%;
          position: relative;
        }
        span {
          color: #eb378e;
          text-shadow: 1px 1px 1px #000;
          position: absolute;
          z-index: 2;
          width: max-content;
          padding: 4px;
          display: none;
          transition-duration: 480ms;
          transition-property: all;
          transition-timing-function: linear;
        }
        &:hover {
          display: flex;
          bottom: 12px;
          span {
            position: absolute;
            bottom: -24px;
            margin-top: 2px;
            text-align: center;
            transition-duration: 480ms;
            transition-property: all;
            transition-timing-function: linear;
            display: flex;
          }
        }
      }
    }
  }
}
